body {
 background-image: url(bg.jpg);
 background-color: rgba(182, 158, 135, 0.65);
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 font: 13px/20px "Times New Roman", Tahoma, Verdana, sans-serif;
 color: #404040;
 background-repeat: no-repeat;
}
img#teamlogo{
  padding-top: -100px;
  width: 100px;
  height: 90px;

}
.logo {
 font-family: Yaldevi Colombo SemiBold;
 font-style: normal;
 font-size: 30px;
 line-height: 43px;
 color: rgba(0, 0, 0, 0.8);
 background: rgba(182, 158, 135, 0.7);
 border-bottom: 2px solid ;
 border-top: 2px solid;
 width: 100%;
}

.login {
  position: relative;
  margin: 40px 10px;
  padding: 60px 20px 20px;
  width: 310px;
  height: 500px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.login h1 {
  margin: -60px -20px 90px;
  line-height: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: rgba(182, 158, 135, 0.4);
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.login input[type=text], .login input[type=password] {
  width: 278px;
}
input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #000000;
  background: white;
  outline: 2px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }

.submit {
  height: 34px;
  font-size: 14px;
  font-weight: bold;
  width: 297px;
  color: #555;
  text-shadow: 0 1px #e3f1f1;
  background: #B69E87;
  border: 2px solid #B69;
  border-radius: 5px;
  margin-top: 30px;
  
  
}

.submit:active {
  background: rgba(182, 158, 135, 0.75);
  border-color: #B69;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.createAccount {
  background: white;
  border: 2px solid #B69;
  border-radius: 5px;
  color: #555;
  margin-top: 30px;
  width: 297px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px #B69E87;
  }

  .createAccount:active {
  background: #B69E87;
  border-color: #B69;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}